@model IEnumerable<AnnApp.Models.Ann>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @if (ViewBag.Name == "Professor")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID });
                }
                @Html.ActionLink("Details", "Details", new { id = item.ID })
                @if (ViewBag.Name == "Professor")
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID });
                }
            </td>
        </tr>
    }

</table>

<p><b>@Html.Encode("ERROR: Cannot enter html elements. Try again.")</b></p>
