@model AnnApp.Models.Ann

@{
    ViewBag.Title = "Index";
}

<div id="filterByBar">
    @Html.AntiForgeryToken()
    <p>@Html.Encode("Filter By: ")</p>
    <text>@Html.Encode("Title ")</text>
    <input type="text" id="filterTitle" name="filter" />
    <text>@Html.Encode("Content ")</text>
    <input type="text" id="filterContent" name="filter" />
    <text>@Html.Encode("Content")Post Date</text>
    <input type="datetime" id="filterPostDate" name="filter" />
    <p></p>
</div>

<div id="orderByBar">
    <p>@Html.Encode("Order By: ")</p>
    <form id="myform">
        @Html.AntiForgeryToken()
            <input type="radio" name="sort" value="Title">@Html.Encode("Title")<br>
            <input type="radio" name="sort" value="Content">@Html.Encode("Content")<br>
            <input type="radio" name="sort" value="PostDate">@Html.Encode("Post Date")
    </form>
</div>

<p id="annTitle">@Html.Encode("Announcements:")</p>
<div id="tableDiv"></div>

@if (ViewBag.Name == "Professor")
{
<p id="createAnnTitle">@Html.Encode("Create Announcement:")</p>
<div id="annCreateForm">
    @using (Ajax.BeginForm("AJAXCreate", "Anns",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = "tableDiv"
                        }
                    ))
    {
        <div class="form-horizontal">
            <div class="form-group">
                @Html.AntiForgeryToken()
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PostDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div>
                    @Html.EditorFor(model => model.PostDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PostDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <input type="submit" value="Create" />
    }
</div>
}

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/BuildTable.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
